<h2>Your Project is Updated</h2>
  <p>Hello man <%= @user.name %>,</p>
  <p>Your previusly assign project is updated:</p>
  <p>Project Name: <%= @project.name %></p>
  <p>Description: <%= @project.description %></p>
  <p>Please log in to your account to view more details.</p>
  <p>Regards,</p>
  <p>Your Application Team</p>
</body>